<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PARKIR.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <PARKIR.My.MySettings>
            <setting name="server" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>lFRRYWD0RfM=</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>SXATVQXDiRfEhqQ99+Z9/A==</value>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>RpuWAK6JW/k=</value>
            </setting>
            <setting name="gerbang" serializeAs="String">
                <value>MBL01</value>
            </setting>
            <setting name="printer_name" serializeAs="String">
                <value>EPSON TM-U220 Receipt</value>
            </setting>
            <setting name="jenis_gerbang" serializeAs="String">
                <value>OUT</value>
            </setting>
            <setting name="kode_kendaraan" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="com_port_in" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="com_port_out" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="baud_rate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="cam_type" serializeAs="String">
                <value>IP_CAM</value>
            </setting>
            <setting name="cam_link" serializeAs="String">
                <value>https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/tnc_62369710_4000x2200.jpg</value>
            </setting>
        </PARKIR.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenTK.GLControl" publicKeyToken="bad199fe84eb3df4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
